@import "../../index.css";

.qac-main-container {
  /* padding: 5px; */
  background-color: #e8e8e8;
  padding-top: 5px;
}
.qac-container {
  display: flex;
  justify-content: center;
  gap: 22px;
  padding: 0 30px;
  flex-wrap: wrap;
}

.qac-heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1.5rem;
  margin-bottom: 2rem;
  color: #1d1c1c;
  text-align: center;
}

.qac-card {
  background: #fff;
  color: #5e5d5d;
  padding: 24px;
  padding-top: 16px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  transition: 0.25s ease;
  cursor: pointer;
  box-shadow: 0 5px 15px #bab9b9;

  &:hover {
    box-shadow: 0 5px 15px #9a9999;
  }
}

.qac-card:hover {
  transform: translateY(-6px);
}

.qac-icon {
  font-size: 45px;
}

.qac-title {
  margin: 12px 0 6px 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d1c1c;
}

.qac-text {
  color: #959595;
  font-size: 0.95rem;
}
